@import "bourbon/bourbon";
@import "globals/variables";
@import "components/reset";
@import "grater/grater";

html {
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: #fff;
  background: $selection-color;
}

body {
  font: 20px $avenir-medium;
  color: #555;
  line-height: 1.4em;
}

p, ul {
  margin-bottom: 1.4em;
}

p.disclaimer {
  color: $light-text-color;
  font-size: 0.8em;

  a {
    color: $light-text-color;

    &:hover {
      color: $link-color;
    }
  }
}

strong {
  font-family: $avenir-heavy;
}

span.asterisk {
  color: $light-text-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

mark {
  background-color: $highlight-color;
  padding: 2px;
  box-shadow: $highlight-color 0 0 5px;
}

code {
  font-family: Courier, monospace;
}

ul.list {
  padding-left: 1.4em;

  li {
    list-style: disc;
  }
}

h3 {
  font-family: $avenir-heavy;
  font-size: 30px;
  margin-bottom: 0.5em;
}

h4 {
  font-family: $avenir-heavy;
  font-size: 22px;
  color: #999;
}

@import "components/layout";
@import "components/iphone";
@import "components/press";

a.app-store {
  width: 186px;
  height: 55px;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
  }
}

@media #{$grater-small-media-query} {
  p.app-store {
    text-align: center;
  }
}
